In [6]:
import os
import nibabel as nib
import glob
from PIL import Image
import numpy as np
import pandas as pd
import shutil

In [2]:
def(folder_name,start_slide,end_slide):
    for x in range(start_slide,):

SyntaxError: invalid syntax (<ipython-input-2-481042b0ecbd>, line 1)

In [11]:
path = "/data/scratch/chirag24/HIA/"

In [58]:
df = pd.read_csv(path+"slide_data.csv", skiprows=4)
var = float('nan')
df.dropna(how='all')
df.head()

,subjectID_wo_17,subjectID_1-20,SNR_code,averages,less_than_16_scans,rand_ID,head1stR,body1stR,tail1stR,lastR,head1stL,body1stL,tail1stL,lastL
0,0.0,1.0,1.0,4.0,0,8.0,151.0,136.0,113.0,103.0,151.0,134.0,113.0,103.0
1,0.0,1.0,2.0,9.0,0,16.0,151.0,136.0,113.0,103.0,151.0,134.0,113.0,103.0
2,0.0,1.0,3.0,16.0,0,43.0,151.0,136.0,113.0,103.0,151.0,134.0,113.0,103.0
3,1.0,2.0,1.0,4.0,0,11.0,150.0,137.0,118.0,109.0,150.0,137.0,118.0,109.0
4,1.0,2.0,2.0,9.0,0,56.0,150.0,137.0,118.0,109.0,150.0,137.0,118.0,109.0

In [65]:
for index,row in df.iterrows():
    if index == 60:
        break
    pid = str(int(row["subjectID_wo_17"])).zfill(2)
    rand_id = str(int(row["rand_ID"])).zfill(2)
    head_1_r= pid+"cr"+rand_id str(int(row["head1stR"])) + ".png"
    head_last_r = pid+"cr"+rand_id str(int(row["body1stL"])-1) + ".png"
    head_middle_r = pid+"cr"+rand_id str(int(row["head1stR"])-1) + ".png"
    #16cr-s0.png